.check-button{
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: 0 30px;
    background-color: #16bdbd;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 40px;
    transition: 0.2s all;
    }
    .check-button:hover{
    background-color: #FFF;
    color:#16bdbd;
    border-color: #16bdbd;
    padding: 0px 30px 0px 50px;
    cursor: pointer;
    }
    .check-button>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #D10024;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s all;
    }
    .check-button:hover>i {
    opacity: 1;
    visibility: visible;
    }


    .check-button:hover{
    background-color: #FFF;
    color:#16bdbd;
    border-color: #16bdbd;
    padding: 0px 30px 0px 50px;
    cursor: pointer;
    }

    .add-cart,
.quickview-button {
    background: #343434 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 5px;
    min-width: 120px;
    opacity: 0;
    padding: 0 29px;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}

.single-aboss-product:hover ..quickview-button,
.single-aboss-product:hover .add-cart {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.add-cart:hover,
..quickview-button:hover {
    background: #16bdbd;
    color: #fff;
}