{%extends 'base.html'%}
{%load static%}
{%block content %}
<SCRIPT>
       console.log('{{csrf_token}}');
    $(document).ready(function() {
    // Attach click event listener to the "Sign in" button
    $('.login-btn').click(function(e) {
        console.log("login button is clicked");
        e.preventDefault();  // Prevent default form submission behavior

        // Get the user's email and password from the form fields
        var email = $('#email').val();
        var password = $('#inputPassword').val();

        // Send the login request via AJAX

        $.ajax({
            url: '/login/',  // Replace with your server's login URL
            type: 'POST',
            headers: {
            'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                email: email,
                password: password
            },
            success: function(response) {
            if (response.status === 'success') {
                window.location.href = response.redirect;

            } else {
                $('#signin-error').text(response.status);
            }
        },

            error: function(xhr, status, error) {
                // Handle login error (e.g. display error message)
                $('#login-error').text('Error: ' + xhr.responseText);
            }
        });
    });
});

</SCRIPT>

<body>

<!--    &lt;!&ndash;[if lte IE 9]>-->


        <div class="breadcrumb-area">
            <div class="container">
                <ol class="breadcrumb breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="account.html">Account</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Login Page Start Here -->
        <div class="login white-bg ptb-80">
            <div class="container">
              <h3 class="login-header">Log in to your account </h3>
               <div class="row">
                   <div class="col-lg-6 offset-lg-3">
                       {% if error %}
                       <div class="alert alert-danger">
                           {{ error }}
                       </div>
                       {% endif %}
                        <div class="login-form">
                            <form>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        <button class="btn show-btn" type="button">Show</button>
                                    </div>
                                </div>
                                <div class="login-details text-center mb-25">
                                    <a href="forgot-password.html">Forgot your password? </a>
                                    <button type="submit" class="login-btn">Sign in</button>
                                </div>
                                <div id="signin-error" class="error-message"></div>
                                <div class="login-footer text-center">

                                    <p>No account? <a href="{%url 'register_view'%}">Create one here</a></p>
                                </div>

                            </form>
                        </div>
                   </div>
               </div>
            </div>
        </div>
{%endblock%}
        <!-- Login Page End Here -->
