<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  {{csrf_token}}
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=AWijh9jZ_Qf516SosXhP2yhndm2CN5PmQAz3vXCB0Kob_AEiqhG-Ieeaffw9hTyBGV_6eRAcrYHrdNJD&currency=USD"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <script>
    const order_id = "{{order_id}}";
    console.log(order_id);
      paypal.Buttons({
        // Order is created on the server and the order id is returned
        createOrder() {
          return fetch("/my-server/create-paypal-order", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}",
            },
            // use the "body" param to optionally pass additional order information
            // like product skus and quantities
            body: JSON.stringify({
              cart: [
                {
                  sku: "11",
                  quantity: "1",
                },
              ],
              order_id: order_id
            }),
          })
          .then((response) => response.json())
          .then((order) => order.id);
        },
        // Finalize the transaction on the server after payer approval
        onApprove(data) {
        console.log(data);
          return fetch("/my-server/capture-paypal-order", {
            method: "POST",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              orderID: data.orderID,
              order_id: order_id
            })
          })
          .then((response) => response.json())
          .then((orderData) => {
            // Successful capture! For dev/demo purposes:
            console.log('payment succesfull');
<!--            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));-->
            const transaction = orderData.purchase_units[0].payments.captures[0];
            if (transaction.status === 'COMPLETED') {
              window.location.href = '/paymentsuccess/?order_id=' + {{order_id}};
            } else {
              alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            }

            // When ready to go live, remove the alert and show a success message within this page. For example:
             const element = document.getElementById('paypal-button-container');
             element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  window.location.href = 'thank_you.html';
          });
        }
      }).render('#paypal-button-container');
    </script>
  </body>
</html>
