
.bg-image-1 {
    background: url({{slide.0.image.url}}) no-repeat center center / cover;
}

.bg-image-2 {
    background: url({{slide.1.image.url}}) no-repeat center center / cover;
}

.bg-image-3 {
    background: url({{slide.1.image.url}})no-repeat center center / cover;
}



.breadcrumb-bg {
    background: #16BDBD none repeat scroll 0 0;
}

.professional-bg,
.testmonial-bg {
    background: url("img/bg-image/professional-bg.jpg' %}") no-repeat scroll center center / cover;
    padding: 346px 0;
    position: relative;
    z-index: 1;
}

.testmonial-bg {
    background: url("img/bg-image/testmonial-bg.jpg' %}") no-repeat fixed 0 0 / cover;
    padding: 160px 0;
}
.testmonial-bg.tesmonial-style-two {
    padding: 80px 0;
}

.subscribe-area .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0) url("{%static 'img/bg-image/newsletter-bg.png' %}") no-repeat scroll 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 520px;
}
.deal-product .container::before {
    background: rgba(0, 0, 0, 0) url("{%static 'img/bg-image/deal-bg.png' %}") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 30px;
    position: absolute;
    top: 80px;
    width: 95px;
    z-index: 55;
}


